<aside>
    <a href="mailto:kelunyang@outlook.com">Kelunyang </a> @ 2017 CC-BY <a target="_top" href="https://github.com/kelunyang/nametag_voiceRecorder"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
</aside>
<script src="{{ typekit }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.microphone.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io-stream.js"></script>
<script>
    try{Typekit.load({ async: true });}catch(e){}
    function closeWindow(section) {
        section.removeClass("showWindow");
        section.addClass("hideWindow");
    }
    function showWindow(section) {
        section.removeClass("hideWindow");
        section.addClass("showWindow");
    }
</script>